<form role="form" method="POST" id="mInvStatusPopupForm" mode="@ViewBag.modify_status" onsubmit="event.preventDefault();">
    <div class="form-group-popup-header">
        <label class="popup-label-group-title">Inv Status Entry Form</label>
        <input type="hidden" name="AUTONUMBER" id="AUTONUMBER" dataType="autonumber" dataKey="1" value="@ViewBag.autonumber" />
        <input type="hidden" name="SYSTEM_ID" id="SYSTEM_ID" dataType="string" data-flag="seqnumber" value="@ViewBag.system_id" />
        <input type="hidden" dataType="string" dataKey="0" name="POPUP_OBJECT_ID" value="0104" nosave />
        <input type="hidden" dataType="string" dataKey="0" name="POPUP_TOP_OBJECT_ID" value="0105" nosave />
        <input type="hidden" dataType="string" dataKey="0" name="POPUP_TOP_FIELD_NAME" value="INVSTATUS_ID" nosave />
    </div>
    <div class="form-content-group-popup">
        <div class="form-content-group-popup-detail">
            <div class="col-lg-6 left-popup-section" id="form0104-content">
                <div class="subremodal-form-group-popup">
                    <label class="custom-popup-label-group">Code</label>
                    <div class="custom-popup-input-group">
                        <input id="invstatus_code" data-id="010401" next-el="description" class="form-control" data-mandatory="true" dataType="string" maxlength="10" validation-string="Code" name="INVSTATUS_CODE" value="@ViewBag.invstatus_code" uppercase>
                        <div class="invstatus_code validation-result" style="display: none;"></div>
                    </div>
                </div>
                <div class="subremodal-form-group-popup">
                    <label class="custom-popup-label-group">STATUS</label>
                    <div class="custom-popup-input-group">
                        <input id="description" data-id="010402" next-el="remodal-confirm" class="form-control" data-mandatory="true" dataType="string" maxlength="100" validation-string="Status" name="DESCRIPTION" value="@ViewBag.description" uppercase>
                        <div class="description validation-result" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 right-popup-section">
                <div class="panel-body list-container" id="listDataTable">
                    @Html.Raw(ViewBag.listData)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-popup-footer">
        <input type="hidden" dataType="string" name="MODIFY_STATUS" value="@ViewBag.modify_status" nosave>
        <!--
        <button id="subremodal-new" class="subremodal-confirm">New</button>
        //-->
        <button data-subremodal-action="confirm" id="subremodal-confirm" class="subremodal-confirm">Save</button>
        <button data-subremodal-action="cancel" id="subremodal-cancel" class="subremodal-cancel">Cancel</button>
        <button id="remodal-end" class="remodal-end"></button>
    </div>
</form>
<style>
    <!--
    .subremodal {
        width: 1400px !important;
    }

    .subremodal-wrapper {
        top: -5%;
    }

    .left-popup-section {
        border: 5px solid #206294;
        min-height: 400px;
        min-height: 400px;
        padding-top: 10px;
    }

    .right-popup-section {
        border: 5px solid #206294;
        min-height: 400px;
        border-left: 0px;
        padding-top: 20px;
        min-height: 400px;
    }

    .subremodal-form-group-popup {
        display: block;
        float: left;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .form-row {
        display: block;
        float: left;
        width: 100%;
        padding-top: 10px;
    }

    .custom-popup-label-group {
        display: block;
        float: left;
        width: 100px !important;
        margin-top: 5px;
        text-align: left;
    }

    .custom-popup-input-group {
        display: block;
        float: left;
        width: 300px !important;
    }

    .form-control-date {
        width: 100px !important;
    }

    .field-group {
        width: 270px !important;
    }

    #dataListInvStatus th {
        text-align: center !important;
        display: block;
    }
	
	#dataListInvStatus_th_1 {
        float: left;
        width: 15% !important;
    }
	
	#dataListInvStatus_th_2 {
        float: left;
        width: 40% !important;
    }
    
	#dataListInvStatus_th_link {
        float: left;
        width: 17% !important;
    }

    #dataListInvStatus td.DTCOL_CODE {
        float: left;
        text-align: left !important;
        width: 20% !important;
    }

    #dataListInvStatus td.DTCOL_STATUS {
        float: left;
        text-align: left !important;
        width:45% !important;
    }

    #dataListInvStatus td.DTCOL_ACTION {
        float: left;
        text-align: left !important;
        width: 17% !important;
    }

    // -->
</style>
